<!--sign out div-->
<div id="timeout">
</div>
Time table of <%=user_info[1].capitalize%> <%=user_info[2].capitalize%> on <%=date_of_fix%>
<form method="post" action="update_time_sheet">
<table>
<th>Select</th>
<th>Time in</th>
<th>Lunch Start</th>
<th>Lunch End</th>
<th>Time out</th>
<th>Date</th>
<th>Date Out</th>
<th>Location</th>
<%times_shown.each_with_index do |item, index|%>
    <tr>
    <td><input type = "checkbox" name = "times[]" value = '<%=index%>'></td>
    <td><input type="time" name="edited_times[]" value="<%=item[0]%>">
    <td><input type="time" name="edited_times[]" value="<%=item[1]%>">
    <td><input type="time" name="edited_times[]" value="<%=item[2]%>">
    <td><input type="time" name="edited_times[]" value="<%=item[3]%>">
    <td><input type="date" name="edited_times[]" value="<%=item[4]%>">
    <td><input type="date" name="edited_times[]" value="<%=item[5]%>">
    <td><input type="text" name="edited_times[]" value="<%=item[6]%>">
    <!-- <%item.each do |time|%>
            <%if time.length == 5%>
            <td><input type = "text" name = "edited_times[]" value = "<%=time_converter(time)%>"></td>
            <%else%>
            <td><input type = "text" name = "edited_times[]" value = "<%=time%>"></td>
            <%end%>
    <%end%> -->
    </tr>
<%end%>
</table>
<input type="submit" name="choose" value="Update">
<input type="submit" name="choose" value="Delete">
</form>
<form method = "post" action = "to_admin_emplist">
<input type="submit" value="Return">
</form>

<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>