<!--sign out div-->
<div id="timeout">
</div>
<strong><%=msg%></strong><br><br>
<%names_arr = []%>
<%current_sup = ""%>
<%users.each_with_index do |user, index|%>
<div class="center_text">
<strong><center>Employee info of <%=user[1].capitalize%> <%=user[2].capitalize%>:</center></strong><br>
<form method = "post" action = "emp_updated">
<strong>Employee ID:</strong> <input type = "text" name = info[] value = "<%=user[0]%>" size="10" id="right_align" ><br><br>
<strong>First Name:</strong> <input type = "text" name = info[] value = "<%=user[1]%>" size="10" id="right_align" ><br><br>
<strong>Last Name:</strong> <input type = "text" name = info[] value = "<%=user[2]%>" size="10" id="right_align" ><br><br>
<strong>Business Email:</strong> <input type = "email" name = info[] value = "<%=user[3]%>" id="right_align" ><br><br>
<strong>PTO:</strong> <input type = "number" name = info[] value = "<%=user[5]%>" style = "width: 4em" id="right_align" ><br><br>
<strong>Vacation:</strong> <input type = "number" name = info[] value = "<%=user[6]%>" style = "width: 4em" id="right_align" ><br><br>
<strong>Sick Days:</strong> <input type = "number" name = info[] value = "<%=user[7]%>" style = "width: 4em" id="right_align" ><br><br>
<strong>Date Of Hire:</strong> <input type = "date" name = info[] value = "<%=user[8]%>" style = "width: 10em" id="right_align" ><br><br>
<strong>Job Title:</strong> <input type = "text" name = info[] value = "<%=user[9]%>" size="10" id="right_align" ><br><br>
<strong>Department:</strong> <input type = "text" name = info[] value = "<%=user[10]%>" size="10" id="right_align"><br><br>
<%sup_arr.each do |superv|%>
    <%if superv[0] == user[0] %>
    <%elsif superv[0] == user[4]%>
        <%current_sup = "#{superv[1]} #{superv[2]}"%>
    <%else%>
        <%names_arr << superv%>
    <%end%>
<%end%>
<strong>Supervisor:</strong><select  name = info[]>
<option value ='<%=current_sup%>' selected><%=current_sup%></option>
<%names_arr.each do |name|%>
    <option value=<%="#{name[0]}"%>><%="#{name[1]} #{name[2]}"%></option>
<%end%><br></select>
</div><br><br>
<%end%>
<center>
<input class="button" type = "submit" value = "Update">
</form><br><br>

<datalist id="admin_status">
    <option value="Yes">
    <option value="No">
</datalist>
<%users.each_with_index do |user, index|%>
<div  id = "box4" class = "rounded_borders">
Pay Period of <%=user[1].capitalize%> <%=user[2].capitalize%>: <%=pay_period[0]%> to <%=pay_period[1]%>
<table>
<th>Time in</th>
<th>Lunch Start</th>
<th>Lunch End</th>
<th>Time out</th>
<th>Date</th>
<tr>
<%time_table[index].each do |item|%>
<%item.each do |time|%>
<td><%if time.length == 5%>
    <%=time_converter(time)%>
    <%else%>
    <%=time%>
    <%end%>
</td>
<%end%>
</tr>
<%end%>
</table></div><br><br>
<div  id = "box4" class = "rounded_borders">
<h2>Select a date to update time mistakes</h2>
<form method = "post" action="update_timesheet">
    <input type="hidden" name="selected_id" value="<%=user[0]%>">
    <input type="date" name="time_fix"><br><br>
    <input class="button" type="submit" value="Search">
</form></div><br>
<%end%><br><br>
<form method = "post" action = "to_admin_emplist">
<input class="button" type="submit" value="Return">
</form></center>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>