<!--sign out div-->
<div id="timeout">
</div>
<strong><%=msg%></strong><br><br>
<div id= "box4" class= "rounded_borders">
<%users.each_with_index do |user, index|%>
Employee info of <%=user[1].capitalize%> <%=user[2].capitalize%>:<br><br>
<form method = "post" action = "emp_updated">
<table>
<tr>
<th>Employee ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Business Email</th>
<th>Admin?</th>
<th>PTO</th>
<th>Date Of Hire</th>
<th>Job Title</th>
<th>Department</th>
</tr>
<tr>
<td><input type = "text" name = info[] value = "<%=user[0]%>" size="10"></td>
<td><input type = "text" name = info[] value = "<%=user[1]%>" size="10"></td>
<td><input type = "text" name = info[] value = "<%=user[2]%>" size="10"></td>
<td><input type = "email" name = info[] value = "<%=user[3]%>"></td>
<td><input type = "text" name = info[] value = "<%=user[4]%>" list="admin_status" size="10"></td>
<td><input type = "number" name = info[] value = "<%=user[5]%>"></td>
<td><input type = "date" name = info[] value = "<%=user[6]%>"></td>
<td><input type = "text" name = info[] value = "<%=user[7]%>" size="10"></td>
<td><input type = "text" name = info[] value = "<%=user[8]%>" size="10"></td>
</tr>
</table></div><br><br>
<%end%>
<input class="button" type = "submit" value = "Update">
</form><br><br>

<datalist id="admin_status">
    <option value="Yes">
    <option value="No">
</datalist>
<div  id = "box4" class = "rounded_borders">
<%users.each_with_index do |user, index|%>
Pay Period of <%=user[1].capitalize%> <%=user[2].capitalize%>: <%=pay_period[0]%> to <%=pay_period[1]%>
<table>
<th>Time in</th>
<th>Lunch Start</th>
<th>Lunch End</th>
<th>Time out</th>
<th>Date</th>
<tr>
<%time_table[index].each do |item|%>
<%item.each do |time|%>
<td><%if time.length == 5%>
    <%=time_converter(time)%>
    <%else%>
    <%=time%>
    <%end%>
</td>
<%end%>
</tr>
<%end%>
</table></div><br><br>
<div  id = "box4" class = "rounded_borders">
<h2>Select a date to update time mistakes</h2>
<form method = "post" action="update_timesheet">
    <input type="hidden" name="selected_id" value="<%=user[0]%>">
    <input type="date" name="time_fix"><br><br>
    <input class="button" type="submit" value="Search">
</form><br>
<%end%></div><br><br>
<form method = "post" action = "to_admin_emplist">
<input class="button" type="submit" value="Return">
</form>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>