<form method="post" action="client_hours">
    <%client_count = 1%>
    <%count = 1%>
        <div id = "week_box">
            Week <%=filing_week%>
            <table>

                <th>Clients</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th></th>
                <%clients.each do |client|%>
                    <tr>
                        <td><%=client%></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input onblur='getTotal(<%=count%>)' id = 'hours<%=count%>' type="number" name="hours_day<%=count%>[]" value="0" style = "width: 3em" min="0" max="24" required></td>
                        <td><input type = 'checkbox' value = '<%=client_count%>' name = 'billed[]'>Billed</td>
                    </tr>
                    <%client_count += 1%>
                <%end%>
            </table>
            <input type = 'hidden' id ='total'>
            <div id= 'total'>
                Total:
                <div id ='totalbox<%=count%>'>
                </div>
            </div>
        </div><br><br>
        <table>
        <th>Expenses</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
        <td>Expenses (general)</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>
        <td>Expenses (general)</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>
        <td>Expenses (Mileage)</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>
        <td>Mileage discription</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>

        <td>Expenses(tolls)</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>

        <td>other(tolls)</td>
        <%7.times do%>
            <td><input type = "number" name = 'expenses[]' step='0.01' value='0.00' placeholder='0.00' ></td>
        <%end%>
        </table>
        
        <%count +=1%>

    <input type="submit">
</form>

<script>
  function getTotal(count){
    var arr = document.getElementsByName('hours_day'+count+'[]');
    console.log(arr)

    var tot=0;
    for(var i=0;i<arr.length;i++){
        if(parseInt(arr[i].value))
            tot += parseInt(arr[i].value);
    }
    document.getElementById('total').value = tot;
    document.getElementById('totalbox' + count).innerHTML = tot;
}
</script>