<form method="post" action="commits_to_send">

<div id = 'comment_box'>
<input type = 'hidden' id = 'counter' value = '1'>
<button type = 'button' onclick ="more_boxes()">More Comments</button> 
    <input type = "date" name ="comment['comment1']['date']">
    <input list="clients" name="comment['comment1']['client']">
   <textarea name="comment['comment1']['comment']" placeholder = "Comment Here.."></textarea>
</div>


<div id="gitbox_2">
<div style="float:right;width: 50%;">
<%git_commits.each do |repo|%>
    <p class="repo_name"><%=repo[0]%> <input list="clients" name="<%=repo[0]%>_client"></p>
            <%repo[1].each do |dates|%>
                <table class="web_fill">
                <p class = 'git_dates'><%=dates[0]%></p>
                    <th></th>
                    <th>Branch</th>
                    <th>SHA Key</th>
                    <th>Commit</th>
                    <%dates[1].each do |info|%>
                        <tr align ="left">
                        <td><input type = "checkbox" name = "stuff['<%="#{repo[0]}"%>']['<%="#{dates[0]}"%>'][]" value = "[<%=info["branch"]%>,<%=info["sha"]%>,<%=info["message"]%>]"  checked></td>
                        <td><%=info["branch"]%></td>
                        <td><%=info["sha"]%></td>
                        <td><%=info["message"]%></td>
                        </tr>
                    <%end%>
                </table>
            <%end%>
        </div>
    <%end%>
    <datalist id="clients">
        <%clients.each do |client|%>
            <option value="<%=client%>">
        <%end%>
    </datalist>
</div>    
<input type= "submit" id = "git_submit">
</form>

<script>
function more_boxes(){
    var counter = document.getElementById('counter').value;
        counter++;
    var input = document.createElement('input');
        input.name="comment['comment"+counter+"']['date']";
        input.type = 'date';
        document.getElementById('comment_box').appendChild(input);
        input = document.createElement('select')
        input.type = 
        input.name ="comment['comment"+counter+"']['comment']";
        console.log(input);
        document.getElementById('comment_box').appendChild(input);
        document.getElementById('counter').value = counter;
}
</script>