<form method="post" action="commits_to_send">

<div id="datebox" class= "scrollable" style="float: right;width: fit-content">
<h2>Hours Per Day</h2>
<%two_weeks.each do |split_week|%>
<h3><%=split_week[0]%> to <%=split_week[6]%></p>
<table align ="left">
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <tr>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    <td><input type="number" name="hours_day[]" value="0" style = "width: 3em" min="0" max="8" required></td>
    </tr>
</table>
<br><br>
<%end%>
</div>

<div id="datebox" class= "scrollable">
<h1>Clients This Week</h1>
<input type="text" name="clients[]" required><input type="text" name="clients[]"><input type="text" name="clients[]"><input type="text" name="clients[]">
</div>

<div id="gitbox" class= "scrollable" align = "left">
<h2>Activities Not Commited</h2>
<%two_weeks.each do |split_week|%>
<h2>Week of <%=split_week[0]%> to <%=split_week[6]%></h2>
<h3 id="day_left">Monday-<%=split_week[0]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Tuesday-<%=split_week[1]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Wednesday-<%=split_week[2]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Thursday-<%=split_week[3]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Friday-<%=split_week[4]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Saturday-<%=split_week[5]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<h3 id="day_left">Sunday-<%=split_week[6]%></h3>
    <textarea name="ncommit[]" rows="4" cols="50"></textarea>
<br><br>
<%end%>
</div>
<br><br>
<div id="datebox" class= "scrollable" align = "right">
<h1>Expenses</h1>
<table>
    <th>Date</th>
    <th>Expenses(General)</th>
    <th>Expenses(Mileage)</th>
    <th>Expenses(Tolls)</th>
    <%two_weeks.each do |split_week|%>
        <%split_week.each do |day|%>
            <tr>
                <td><%=day%></td>
                <td><input type="text" name="exp_gen[]" value="0" style = "width: 4em" required></td>
                <td><input type="text" name="exp_mil[]" value="0" style = "width: 4em" required></td>
                <td><input type="text" name="exp_tol[]" value="0" style = "width: 4em" required></td>
            </tr>
        <%end%>
    <%end%>
    </table>
</div>

<div id="gitbox_2">
<div style="float:right;width: 50%;">
    <%git_commits.each do |repo|%>
            <p class="repo_name"><%=repo[0]%></p>
            <%repo[1].each do |dates|%>
                <table class="web_fill">
                <p class = 'git_dates'><%=dates[0]%></p>
                    <th></th>
                    <th>Branch</th>
                    <th>SHA Key</th>
                    <th>Commit</th>
                    <%dates[1].each do |info|%>
                        <tr align ="left">
                        <td><input type = "checkbox" name = "info[]" value = '<%=info["sha"]%>'></td>
                        <td><%=info["branch"]%></td>
                        <td><%=info["sha"]%></td>
                        <td><%=info["message"]%></td>
                        </tr>
                    <%end%>
                </table>
            <%end%>
        </div>
    <%end%>
</div>    
<input type= "submit" id = "git_submit">
</form>