<!--user clock in and clockout page-->

<head>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
</head>

<% if admin_check =="y"|| admin_check == "Y" %>
<div>
<%user_info.each do |row|%>
    <%=row%>
<%end%>, welcome back!<br>
<%=user_email%><br></div><br>
Users Checked In:<br>
<div>
<!--Users who are clocked in-->
<%user_checked.each do |row|%>
    <%row.each do |item|%>
        <%=item%>
        <%end%><br>
<%end%></div><br>
<!--Form to add users-->
<form method = "post" action = "add_user">
<button type = "submit">Add User</button>
</form>
<!--Form to Change or Delete Users-->
<form method = "post" action = "edit_user">
<button type = "submit">Edit Users</button>
</form>
<% else %>

<div>
<%user_info.each do |row|%>
    <%=row%>
<%end%>, welcome back!<br>
<%=user_email%><br></div>

<% end %>

<!-- tabel of time in and out --> 
Pay Period: <%=pay_period[0]%> to <%=pay_period[1]%>
<table>
<th>Time in</th>
<th>Lunch Start</th>
<th>Lunch End</th>
<th>Time out</th>
<th>Date</th>
<%times.each do |item|%>
<tr>
<%item.each do |time|%>
<td><%if time.length == 5%>
    <%=time_converter(time)%>
    <%else%>
    <%=time%>
    <%end%>
</td>
<%end%>
</tr>
<%end%>
</table>

<!--signout function -->
<%=session[:message]%><br>

<!-- form for submiting your time in -->
<form method = "post" action = "clock_in">
<button id = "clock_in_button" type = "submit">Submit Time In</button>
</form>


<!-- form for submiting yout time out -->
<form id = "time_submit" method = "post" action = "clock_out">
<button id = "clock_out_button" type = "submit" onclick="setTime()">Submit Time Out</button>
</form>
<!--submit button fo vac request-->
<form method = "post" action = "vac_time_request">
    <button type = "submit">PTO Request</button>
</form>
<!-- clock -->
<body onload="updateClock(); setInterval('updateClock()',1000)";>
<span id="clock">&nbsp;</span>
</body>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src = "/js/clock.js"></script>
<script src = "/js/facebook.js"></script>
<script src= "js/google_js.js"></script>

<!--sign out section--><br>
<!--facebook sign out--><br>
<button id = 'sign_out' onclick= 'logout()' >Sign out</button>
<!-- src = "/js/logout.js"-->

<!--google sign out--><br>

<!-- scr ="/js/google_js.js"-->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>


<!--TIME OUT STUFF-->
<body onload="idleTimer()"></body>
<script type="text/javascript">
function idleTimer() {
    var t;
    //window.onload = resetTimer;
    window.onmousemove = resetTimer; // catches mouse movements
    window.onmousedown = resetTimer; // catches mouse movements
    window.onclick = resetTimer;     // catches mouse clicks
    window.onscroll = resetTimer;    // catches scrolling
    window.onkeypress = resetTimer;  //catches keyboard actions

    function log_out() {
        logout();
        signOut();
        window.location.href = '/';  //Adapt to actual logout script
    }

   function reload() {
          window.location = self.location.href;  //Reloads the current page
   }

   function resetTimer() {
        clearTimeout(t);
        t = setTimeout(log_out, 300000);  // time is in milliseconds (1000 is 1 second)
       // t= setTimeout(reload, 60000);  // time is in milliseconds (1000 is 1 second)
    }
}
idleTimer();
</script>  

