<!--user clock in and clockout page/ also main page-->
<link rel= "stylesheet" href = "css/style.css">
<head>
    <div id="timeout">
    </div>
    <meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">

    <div>
        <div id="mySidenav" class="sidenav">
        <% if admin_check == "Yes" %>
        <!--Form to add users-->
        
        <form method = "post" action = "add_user">
        <div class = "tooltip3">
        <button class="menu_button" style="vertical-align:middle" type = "submit">Add User</button>
        <span class="tooltiptext3">This is to add a new user.</span></div>
        </form>
        
    
        <!--Form to Change or Delete Users-->
        <form method = "post" action = "edit_user">
        <div class = "tooltip3">
        <button class="menu_button" style="vertical-align:middle" type = "submit">Edit Users</button>
        <span class="tooltiptext3">This is to Edit, Delete and fix time mistakes.</span></div>
        </form>
    
        <!--Form to see whos clocked in or out-->
        <!--<form method = "post" action = "to_whos_in">-->
        <!--<div class = "tooltip3">-->
        <!--<button class="menu_button" style="vertical-align:middle"type = "submit">Search User</button>-->
        <!--<span class="tooltiptext3">This is to search users who are in the database.</span></div>-->
        <!--</form>-->

        <!--submit button fo vac request-->
        <form method = "post" action = "vac_time_request">
        <div class = "tooltip3">
        <button class="menu_button" style="vertical-align:middle"type = "submit">PTO Request</button>
        <span class="tooltiptext3">This is to request time off.</span></div>
        </form>
        
        <%else%>
    
        <%end%>
    
        <!--facebook sign out--><br>
        <div class = "tooltip3">
        <button class="menu_button" style="vertical-align:middle" id = 'sign_out' onclick= 'logout()' >Sign out</button>
        <span class="tooltiptext3">This is to sign out.</span></div>
    
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
    </div>    
      
</head>
<!-- clock -->
<body onload="updateClock(); setInterval('updateClock()',1000)";>
<div><span id="clock">&nbsp;</span></div>
</body><br><br>
    <div id = "menu" class = "square_borders">
    <span style="font-size:30px;cursor:pointer;background-color: #666;" onclick="openNav()">Menu</span>
        <div id ="user_name">
            <%user_info.each do |row|%>
                <%=row%>
            <%end%>, welcome back!<br>
            <%=user_email%><br>
        </div>
    </div>
<br>
            
<% if admin_check == "Yes" %><br>

<!--Users who are clocked in-->

<div>
<div class= "top_right" id="result" align = "right"> 
<input id = 'myInput' type = "hidden">
</div>
</div>

    

    <!--message for the pto request-->
    <%=session[:pto_message]%><br>

  
    

<% else %>
<% end %>



<%=session[:message]%><br>

<!-- form for submiting your time in -->
<div class="center center-on-page"><form method = "post" action = "clock_in">
<div class = "tooltip">
<!--<div class="select">-->
<!-- <select name="location" name="slct" id="slct">-->
<!--         <option value="Clendenin">Clendenin</option>-->
<!--        <option value="Beckley">Beckley</option>-->
<!--         <option value="Waynesburg">Waynesburg</option>-->
<!--     </select></div><br>-->
    <span class="tooltiptext">This is to pick your location.</span></div><br>
    <div class = "tooltip">
    <button class="button" id = "clock_in_button" type = "submit">Time In</button>
    <span class="tooltiptext">This is to clock in for the day.</span></div>
    </form><br>

<!-- form for submiting your lunch start -->
<form method = "post" action = "lunch_in">
<div class = "tooltip">
    <button class="button" type = "submit">Lunch Start</button>
    <span class="tooltiptext">This is to clock out for lunch.</span></div>
</form><br>

<!-- form for submiting your lunch end -->
<form method = "post" action = "lunch_out">
<div class = "tooltip">
    <button class="button" type = "submit">Lunch end</button>
    <span class="tooltiptext">This is to clock back in from lunch.</span></div>
    </form><br>

<!-- form for submiting yout time out -->
<form id = "time_submit" method = "post" action = "clock_out">
<div class = "tooltip">
    <button  class="button" id = "clock_out_button" type = "submit">Time Out</button>
    <span class="tooltiptext">This is to clock out for the day.</span></div>
    </form><br>
    </div>



<%if todays_time.flatten.any?%>
    <div id = "box4" class = "rounded_borders">
    <div class = "tooltip2">Todays Time<span class="tooltiptext2">This is your time for today.</span></div>
        <table> 
            <th>Time in</th>
            <th>Lunch Start</th>
            <th>Lunch End</th>
            <th>Time out</th>
            <%todays_time.each do |item|%>
            <tr>
            <%item.each do |time|%>
                <%unless time == item[4]%>
                    <td><%if time.length == 5%>
                        <%=time_converter(time)%>
                        <%else%>
                        <%=time%>
                        <%end%>
                    </td>
                <%end%>
            <%end%>
            </tr>
            <%end%>
        </table>
    </div>
<%end%>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src = "/js/clock.js"></script>
<script src = "/js/facebook.js"></script>
<script src= "js/google_js.js"></script>

<!--sign out section--><br>

<!--toggle for sign out button-->
<%toggle = "social"%>

<%if toggle == "sso"%>

    <form method="post" action="logout">
    <input type="submit" name="submit" value="sign out">
    </form>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>

    <!--social media section-->
        
            <!-- src = "/js/logout.js"-->
    <!--google sign out--><br>
        <!-- scr ="/js/google_js.js"-->
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
            <body onload="idleTimer()"></body>
<%end%>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>
   function autoRefresh_div()
 {  
      $("#result").load("/reload");// a function which will load data from other file after x seconds
  }
 
  setInterval('autoRefresh_div()', 5000); // refresh div afte 5 secs
            </script>
            
            <!-- tabel of time in and out pay period --> 
            <div id = "box3" class = "scrollable rounded_borders">
            <div class = "tooltip3">Pay Period: <%=pay_period[0]%> to <%=pay_period[1]%><span class="tooltiptext3">This is your time for your pay period.</span></div>
                <table>
                <th class = "table_borders">Time in</th>
                <th class = "table_borders">Lunch Start</th>
                <th class = "table_borders">Lunch End</th>
                <th class = "table_borders">Time out</th>
                <th class = "table_borders">Date</th>
                <%times.each do |item|%>
                <tr>
                <%item.each do |time|%>
                <td class = "table_borders"><%if time.length == 5%>
                    <%=time_converter(time)%>
                    <%else%>
                    <%=time%>
                    <%end%>
                </td>
                <%end%>
                </tr>
                <%end%>
                </table>
            </div>

<!-- func for nav bar -->

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
            
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>