<!--user clock in and clockout page/ also main page-->
<link rel= "stylesheet" href = "css/style.css">
<head>
    <div id="timeout">
    </div>
    <meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">

    <!--<div class="topnav" id="myTopnav">-->
        <% if admin_check == "Yes" %>
        <!-- <a href="/add_user">Add User</a>-->
        <!--<a href="/edit_user">Edit</a>-->
        <!-- <a href="/vac_time_request">PTO</a>-->

        <!--Form to add users-->
        <!--<form method = "post" action = "add_user">-->
        <!--<div class = "tooltip3">-->
        <!--<button class="menu_button" type = "submit">Add User</button>-->
        <!--<span class="tooltiptext3">to add a new user.</span></div>-->
        <!--</form>-->
        
    
        <!--Form to Change or Delete Users-->
        <!--<form method = "post" action = "edit_user">-->
        <!--<div class = "tooltip3">-->
        <!--<button class="menu_button" type = "submit">Edit Users</button>-->
        <!--<span class="tooltiptext3">to Edit, Delete and fix time mistakes.</span></div>-->
        <!--</form>-->
    
        <!--Form to see whos clocked in or out-->
        <!--<form method = "post" action = "to_whos_in">-->
        <!--<div class = "tooltip3">-->
        <!--<button class="menu_button"type = "submit">Search User</button>-->
        <!--<span class="tooltiptext3">to search users who are in the database.</span></div>-->
        <!--</form>-->

        <!--submit button fo vac request-->
        <!--<form method = "post" action = "vac_time_request">-->
        <!--<div class = "tooltip3">-->
        <!--<button class="menu_button" type = "submit">PTO Request</button>-->
        <!--<span class="tooltiptext3">to request time off.</span></div>-->
        <!--</form>-->
        <%else%>
        <%end%>
    <!--</div>-->
      
</head>
<!-- clock -->
<body onload="updateClock(); setInterval('updateClock()',1000)";>
<div><span id="clock">&nbsp;</span></div>
</body>
    
<<<<<<< HEAD
        <div id ="user_name" class = "rounded_borders">
            <%user_info.each do |row|%>
                <%=row%>
            <%end%>, welcome back!<br>
            <%=user_email%><br>
        </div>
    
=======
<div id ="user_name" class = "rounded_borders">
    <center><%=user_info[0]%> <%=user_info[1]%>, welcome back!<br>
    <%=user_email%></center>
</div>

<%if todays_time.flatten.any?%>
<div id = "box4" class = "rounded_borders">
<div class = "tooltip2">Todays Time<span class="tooltiptext2">your time for today.</span></div>
    <table> 
        <th>Time in</th>
        <th>Lunch Start</th>
        <th>Lunch End</th>
        <th>Time out</th>
        <%todays_time.each do |item|%>
        <tr>
        <%item.each do |time|%>
            <%unless time == item[4]%>
                <td><%if time.length == 5%>
                    <%=time_converter(time)%>
                    <%else%>
                    <%=time%>
                    <%end%>
                </td>
            <%end%>
        <%end%>
        </tr>
        <%end%>
    </table>
</div>
<%end%><br><br>

<!-- table of time in and out pay period --> 
<div id = "box3" class = "scrollable rounded_borders">
    <div class = "tooltip3">Pay Period: <%=pay_period[0]%> to <%=pay_period[1]%><span class="tooltiptext3">your time for your pay period.</span></div>
    <table>
        <th class = "table_borders">Time in</th>
        <th class = "table_borders">Lunch Start</th>
        <th class = "table_borders">Lunch End</th>
        <th class = "table_borders">Time out</th>
        <th class = "table_borders">Date</th>
        <%times.each do |item|%>
            <tr>
            <%item.each do |time|%>
                <td class = "table_borders"><%if time.length == 5%>
                    <%=time_converter(time)%>
                <%else%>
                    <%=time%>
                <%end%>
                </td>
            <%end%>
            </tr>
        <%end%>
    </table>
</div>
>>>>>>> 6f8703dbeaa2b78654c3dfce4cb4e84d86af424c
            
<% if admin_check == "Yes" %><br>

<!--Users who are clocked in-->


<div class= "top_right" align = "right">
     <div class= "box scrollable">
        <!--Users who are clocked in-->
        <div class = "tooltip2">Users Checked In:<br> <span class="tooltiptext2">This is to show what users are clocked In.</span></div><br>
        <!--  list of all people and in and out status -->
        <input type="text" id="myInput" onclick="dynamicSearch(this);" onkeyup="dynamicSearch(this);saveValue(this);" placeholder="Search for names.." title="Type in a name">
        <link rel= "stylesheet" href = "css/searchbar.css">

        <div>
            <ul id="myUL">
                <%count = 0%>
                <%user_list.each do |user|%>
                    <input type = 'hidden' id ='<%="user_id#{count}"%>' value= '<%=user[0]%>'>
                    <li><a>
                        <div class = "inline-block"><%=user[1].capitalize%> <%=user[2].capitalize%>
                        </div>
                        <div id='<%="result#{count}"%>'>
                            <% if time_hash["#{user[0]}"][4] == "N/A" %>
                                <div id ='green_light'>
                                </div>
                                <%time = live_time("#{time_hash["#{user[0]}"][1]} #{time_hash["#{user[0]}"][5]}",Time.now.strftime('%H:%M %Y-%m-%d'))%>
                                <div class ="inline-block"> <%=time_zero_remove(time)%>
                                </div>
                            <% else %>
                                <div id ="no_light" >
                                </div>
                            <% end %>
                        </div>
                    </a></li>
                    <%count += 1%>
                <%end%>
            </ul>
        </div>
    </div>
</div>
<input id = 'count' type = 'hidden' value = '<%=count%>'>


</script>

<script>
        document.getElementById("myInput").value = getSavedValue("myInput");    // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorages value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (localStorage.getItem(v) === null) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>
<input id = 'myInput' type = "hidden">
</div>
</div>

    

    <!--message for the pto request-->
    <%=session[:pto_message]%><br>
<% end %>




<!-- form for submiting your time in -->
<div class="center-on-page"><form method = "post" action = "clock_in">
<center><br><br><br><%=session[:message]%></center>
<div class = "tooltip">
<!--<div class="select">-->
<!-- <select name="location" name="slct" id="slct">-->
<!--         <option value="Clendenin">Clendenin</option>-->
<!--        <option value="Beckley">Beckley</option>-->
<!--         <option value="Waynesburg">Waynesburg</option>-->
<!--     </select></div><br>-->
    <span class="tooltiptext">This is to pick your location.</span></div><br>
    <div class = "tooltip">
    <button class="button" id = "clock_in_button" type = "submit">Time In</button>
    <span class="tooltiptext">to clock in for the day.</span></div>
    </form><br>

<!-- form for submiting your lunch start -->
<form method = "post" action = "lunch_in">
<div class = "tooltip">
    <button class="button" type = "submit">Lunch Start</button>
    <span class="tooltiptext">to clock out for lunch.</span></div>
</form><br>

<!-- form for submiting your lunch end -->
<form method = "post" action = "lunch_out">
<div class = "tooltip">
    <button class="button" type = "submit">Lunch end</button>
    <span class="tooltiptext">to clock back in from lunch.</span></div>
    </form><br>

<!-- form for submiting yout time out -->
<form id = "time_submit" method = "post" action = "clock_out">
<div class = "tooltip">
    <button  class="button" id = "clock_out_button" type = "submit">Time Out</button>
    <span class="tooltiptext">to clock out for the day.</span></div>
    </form><br>
    <div class = "tooltip3">
    <button class="button"  id = 'sign_out' onclick= 'logout()' >Sign out</button>
    <span class="tooltiptext3">to sign out.</span></div>
    </div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src = "/js/clock.js"></script>
<script src = "/js/facebook.js"></script>
<script src= "js/google_js.js"></script>

<!--sign out section--><br>

<!--toggle for sign out button-->
<%toggle = "social"%>

<%if toggle == "sso"%>

    <form method="post" action="logout">
    <input type="submit" name="submit" value="sign out">
    </form>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>

    <!--social media section-->
        
            <!-- src = "/js/logout.js"-->
    <!--google sign out--><br>
        <!-- scr ="/js/google_js.js"-->
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
            <body onload="idleTimer()"></body>
<%end%>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src ="/js/search.js"></script>
<script>
    setInterval('autoRefresh_div()', 5000); // refresh div afte 5 secs
</script>

<!-- func for nav bar -->

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
            
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

<!-- function for updating time-->
<script>
    function autoRefresh_div(){  
    var search = document.getElementById('myInput');
    var count = document.getElementById("count").value;
    console.log(count + " count here")
    for (var i = 0; i < count; i++){
        console.log(i)
        var arr = []
        var user_id = document.getElementById("user_id"+i).value;
        console.log(user_id);
        /* console.log(l_name);
        arr.push(f_name);
        arr.push(l_name);
        arr.push(time_a);
        arr.push(time_b);
        arr.push(location); */
        console.log("#result"+i);
    $("#result"+ i).load("/reload?user_id=" + user_id);// a function which will load data from other file after x seconds
    }       
    //dynamicSearch(search);
}

</script>
<script src ="/js/search.js"></script>

<body onload="newfunc()">
<script>
function newfunc(){
    input = getSavedValue("myInput");
    dynamicSearch(input);

}
</script>

<script>
        document.getElementById("myInput").value = getSavedValue("myInput");    // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (localStorage.getItem(v) === null) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>
