

<%user_info.each do |row|%>
<%=row%>
<%end%>,<br> 
<%=user_email%><br><br></div>




<form method = "post" action = "/pto_email">
start of PTO request:
<input type="date" name="start_vac" min="<%=vac_time%>"><br><br>
end of PTO request:
<input type="date" name="end_vac" min="<%=vac_time%>"><br><br>
<input type="submit" >
<input type= "hidden" name= "full_name" value= "<%user_info.each do |row|%> <%=row%> <%end%>">
<input type= "hidden" name= "email" value= "<%=user_email%>"
</form>



