<%if session[:admin_check] == "Yes"%>

    <div id="Iframe-Google-Calendar" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
        <div class="responsive-wrapper responsive-wrapper-padding-bottom-75pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
            <iframe src="https://calendar.google.com/calendar/embed?alxfyv%40gmail.com&ctz=America/Chicago">
                <p style="font-size: 110%;"><em><strong>ERROR: </strong> 
</iframe>
</div>
</div>

        <%else%>

        <%end%>
<div>
<%user_info.each do |row|%>
    <%=row%>
        <%end%>,
            <br>
            <%=user_email%>
                <br>
                <br>
</div>
You have
<%=user_pto%> days to request.
<br>

<form method="post" action="/pto_email">
    start of PTO request:
    <input type="date" name="start_vac" min="<%=vac_time%>">
    <br>
    <br> end of PTO request:
    <input type="date" name="end_vac" min="<%=vac_time%>">
    <br>
    <br>
    <input type="submit">
</form>

<form method= "post" action= "return">
    <input type= "submit" value= "Return">
</form>    

<div id="Iframe-Google-Calendar" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
    <div class="responsive-wrapper responsive-wrapper-padding-bottom-75pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
        <iframe src="https://calendar.google.com/calendar/embed?alxfyv%40gmail.com&ctz=America/Chicago">
            <p style="font-size: 110%;"><em><strong>ERROR: </strong> 
</iframe>
</div>
</div>

<script>

</script>
