<div id="timeout">
</div>

<%if session[:admin_check] == "Yes"%>

<iframe src="https://calendar.google.com/calendar/embed?src=wvtimeclockdev%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<!--<div id="Iframe-Google-Calendar" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
<div class="responsive-wrapper responsive-wrapper-padding-bottom-75pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
<iframe src="https://calendar.google.com/calendar/embed?alxfyv%40gmail.com&ctz=America/Chicago">
                <p style="font-size: 110%;"><em><strong>ERROR: </strong> 
                </iframe>
</div>
</div>-->

        <%else%>
        
        <%end%>
<div>
<%user_info.each do |row|%>
    <%=row%>
    <%end%>,
            <br>
            <%=user_email%>
                <br>
                <br>
                </div>
You have
<%=user_pto%> days to request.
<br>

<form method="post" action="/pto_email">
<div class= "select">
<select name="pto_type" name="slct" id="slct">
<option value="Sick Day">Sick Day</option>
<option value=" Vacation Day"> Vacation Day</option>
<option value="Personal Day">Personal Day</option>
</select></div>
start of PTO request:
    <input type="date" name="start_vac" min="<%=vac_time%>">
    <br>
    <br> end of PTO request:
    <input type="date" name="end_vac" min="<%=vac_time%>">
    <br>
    <br>
    <input type="submit">
</form>

<form method= "post" action= "return">
<input type= "submit" value= "Return">
</form> 

<%if user_pto_request.flatten.any?%>
    <table>
        PTO Request Status
        <th>start</th>
        <th>end</th>
        <th>status</th>
    <%user_pto_request.each do |item|%>
            
                <tr>
                    <td><%=item[0]%></td>
                    <td><%=item[1]%></td>
                    <td><%=item[2]%></td>
                </tr>
            
        <%end%>
    </table>
<%end%>

<%if session[:admin_check] == "Yes"%>
    <div>
        <table>
        <th>Name</th>
        <th>Pto Start</th>
        <th>Pto End</th>
        <th>Approval</th>    
        <form method = "post" action = 'approval'>
        <%count = 0%>
        <%pto_requests.each do |item|%>
                <tr>
                    <td><%=item[3]%></td>
                    <td><%=item[1]%></td>
                    <td><%=item[2]%></td>
                    <input type = "hidden" value = '<%=item[0]%>' name  = '<%="info" + "#{count}" + "[]"%>'>
                    <input type = "hidden" value = "<%=item[1]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
                    <input type = "hidden" value = "<%=item[2]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
                    <input type = "hidden" value = "<%=item[3]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
                    <td><input type = "radio" name = '<%="info" + "#{count}" + "[]"%>' value = '<%="approved"%>'>Approve</td>
                    <td><input type= "radio" name= '<%="info" + "#{count}" + "[]"%>' value= '<%="denied"%>'>Deny<textarea rows="1" cols="50" name= '<%="info" + "#{count}" + "[]"%>' placeholder= "Enter comment here..."></textarea></td>
                    </tr>
        <%count += 1%>
        <%end%>
        </table>
        <input type = "submit" >
        </form>
        <br>
        <br>
        

    <div>
<%end%>

<script>
</script>
<meta name="google-signin-client_id" content="529014474103-64pofb78h79be0rblagq6cil53svu4qb.apps.googleusercontent.com">
<!--sign out section--><br>
<!--toggle for sign out button-->
<%toggle = "social"%>
<%if toggle == "sso"%>
    <script src="/js/ssotimeout.js"></script>
    <body onload="ssoidleTimer()"></body>
    <%elsif toggle == "social"%>
    <!--social media section-->
    <button id = 'sign_out' onclick= 'logout()' hidden>Sign out</button>
    <!--facebook sign out-->
    <script src = "/js/facebook.js"></script>
    <!--google sign out-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src= "js/google_js.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--TIME OUT STUFF-->
    <script src="/js/timeout.js"></script>
    <body onload="idleTimer()"></body>
<%end%>

<p><a href="/pto_form_pdf/pto_form.pdf">PTO Relese Forms</a></p>
