<%if session[:admin_check] == "Yes"%>

    <div id="Iframe-Google-Calendar" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
        <div class="responsive-wrapper responsive-wrapper-padding-bottom-75pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
            <iframe src="https://calendar.google.com/calendar/embed?alxfyv%40gmail.com&ctz=America/Chicago">
                <p style="font-size: 110%;"><em><strong>ERROR: </strong> 
</iframe>
</div>
</div>

        <%else%>

        <%end%>
<div>
<%user_info.each do |row|%>
    <%=row%>
        <%end%>,
            <br>
            <%=user_email%>
                <br>
                <br>
</div>
You have
<%=user_pto%> days to request.
<br>

<form method="post" action="/pto_email">
    start of PTO request:
    <input type="date" name="start_vac" min="<%=vac_time%>">
    <br>
    <br> end of PTO request:
    <input type="date" name="end_vac" min="<%=vac_time%>">
    <br>
    <br>
    <input type="submit">
</form>

<form method= "post" action= "return">
    <input type= "submit" value= "Return">
</form>    


<div>
    <table>
    <th>Name</th>
    <th>Pto Start</th>
    <th>Pto End</th>
    <th>Approval</th>
    <form method = "post" action = 'approval'>
    <%count = 0%>
    <tr><%pto_requests.each do |item|%>
        <td><%=item[3]%></td>
        <td><%=item[1]%></td>
        <td><%=item[2]%></td>
        <input type = "hidden" value = '<%=item[0]%>' name  = '<%="info" + "#{count}" + "[]"%>'>
        <input type = "hidden" value = "<%=item[1]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
        <input type = "hidden" value = "<%=item[2]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
        <input type = "hidden" value = "<%=item[3]%>" name  = '<%="info" + "#{count}" + "[]"%>'>
        <td><input type = "radio" name = '<%="info" + "#{count}" + "[]"%>' value = '<%="approved"%>'>Approve</td>
        <td><input type = "radio" name = '<%="info" + "#{count}" + "[]"%>' value = '<%="denied"%>'>Deny</td>
    </tr>
    <%count += 1%>
    <%end%>
    </table>
    <input type = "submit">
    </form>

<div>
<script>

</script>
