 
 <div class= "box scrollable">
 <!--Users who are clocked in-->
 <div class = "tooltip2">Users Checked In:<br> <span class="tooltiptext2">This is to show what users are clocked In.</span></div><br>






<!--  list of all people and in and out status -->
<link rel= "stylesheet" href = "css/searchbar.css">
<input type="text" id="myInput" onfocus = "myFunction"onclick = "myFunction();" onkeyup="myFunction();saveValue(this);" placeholder="Search for names.." title="Type in a name">


<ul id="myUL">
<%user_checked.each do |row|%>
<li><a>



<div id = 'green_light'>
</div>
        <%time = live_time("#{row[2]} #{row[3]}",Time.now.strftime('%H:%M %Y-%m-%d'))%>
        
       <div class ="inline-block"> <%=row[0].capitalize%> <%=row[1].capitalize%> <br><%=time_zero_remove(time)%> <%=row[4]%></div>
</a></li>
<%end%>
<%users[1].each do |user_id|%>
<li><a>
<div id = "no_light">
</div>
<div class ="inline-block">
    <%=user_id.capitalize%> OUT
</div></a></li>
<%end%>
</ul>
</div>
<script src ="/js/search.js"></script>
<script>
        document.getElementById("myInput").value = getSavedValue("myInput");    // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (localStorage.getItem(v) === null) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>
