 <!--Users who are clocked in-->
 Users Checked In:<br>
 <%user_checked.each do |row|%>
 <%time = live_time("#{row[3]} #{row[4]}",Time.now.strftime('%H:%M %Y-%m-%d'))%>
 <div>
 <a href='/landing_to_edit?user=<%=row[0]%>'><%=row[1].capitalize%> <%=row[2].capitalize%></a> <%="#{time[0]} :days #{time[1]} :hours #{time[2]} :min"%> <%=row[5]%><br>
 </div>
 <%end%>
