<form method="post" action="finalization">
<%bill_count = 1%>
<%weeks.each_with_index do |week, week_index|%>
<h2>Weekly Invoice</h2>
    <table>
        <th>NAME:</th>
        <th><%=name%></th>
        <th>WEEK COMENCING:</th>
        <th><%=filing_week%></th>
        <th>HOURLY RATE:</th>
        <th><%=wage%></th>
    </table><br><br>
    <table>
        <th>Client Name</th>
        <th>Description</th>
        <th>Monday</th>
        <%monday_total = []%>
        <th>Tuesday</th>
        <%tuesday_total = []%>
        <th>Wednesday</th>
        <%wednesday_total = []%>
        <th>Thursday</th>
        <%thursday_total = []%>
        <th>Friday</th>
        <%friday_total = []%>
        <th>Saturday</th>
        <%saturday_total = []%>
        <th>Sunday</th>
        <%sunday_total = []%>
        <th>Total(Hours)</th>
        <%total_total = []%>
        <%if clients != {}%>
            <%clients.each_with_index do |client, client_index|%>
                <%if final_clients.include?(client[0])%>
                    <%client_hour_con = hours[client[0]]%>
                    <%week_hour_con = client_hour_con[0]%>
                    <%=client_hour_con%>
                    <%=week_hour_con%>
                    <tr>
                    <td><%=client[0]%></td>
                        
                        <td>
                        <%client[1].each do |repos|%>
                            <strong><%=repos%></strong><br><br>
                            <%info.each do |commits|%>
                                <%if commits[0] == repos%>
                                    <%commits[1].each do |commits|%>
                                        <%if week.include?(commits[0])%>
                                            <strong><%=commits[0]%></strong><br>
                                            <%commits[1].each do |info|%>
                                                <%details = info.split(",")%>
                                                Branch: <%=details[0]%><br>
                                                SHA: <%=details[1]%><br>
                                                Message: <%=details[2]%><br><br>
                                                <input type = 'hidden' name = "info[<%=client[0]%>][<%=repos%>][<%=commits[0]%>][][Branch]" value = '<%=details[0]%>'>
                                                <input type = 'hidden' name = "info[<%=client[0]%>][<%=repos%>][<%=commits[0]%>][][SHA]" value = '<%=details[1]%>'>
                                                <input type = 'hidden' name = "info[<%=client[0]%>][<%=repos%>][<%=commits[0]%>][][Message]" value = '<%=details[2]%>'>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            <%end%>
                        <%end%>
                        <%if comments != 'empty'%>
                            <%comments.each_pair do |commit_num, comment|%>
                                <%if comment["client"] == client[0]%>
                                    <%if week.include?(comment["date"])%>
                                        <strong><%=comment["date"]%></strong><br>
                                        <%=comment["comment"]%>
                                        <input type='hidden' name="info[<%=client[0]%>][Other Comments][<%=comment["date"]%>]" value = '<%=comment["comment"]%>'>
                                    <%end%>
                                <%end%>
                            <%end%>
                        <%end%>
                        <%if unseen_commits != 'empty'%>
                            <%unseen_commits.each_pair do |commit_num, commit|%>
                                <%if commit["client"] == client[0]%>
                                    <%if week.include?(commit["date"])%>
                                        <br><strong><%=commit["repo"]%></strong><br><br>
                                        <strong><%=commit["date"]%></strong><br>
                                        SHA: <%=commit["sha"]%><br>
                                        Message: <%=commit["commit"]%><br>
                                        <input type = 'hidden' name = "info[<%=client[0]%>][<%=commit["repo"]%>][<%=commit["date"]%>][][SHA]" value = '<%=commit["sha"]%>'>
                                        <input type = 'hidden' name = "info[<%=client[0]%>][<%=commit["repo"]%>][<%=commit["date"]%>][][Message]" value = '<%=commit["commit"]%>'>
                                    <%end%>
                                <%end%>
                            <%end%>
                        <%end%>
                        </td>
                    <td><%=week_hour_con[0]%></td>
                    <%monday_total << week_hour_con[0]%>
                    <td><%=week_hour_con[1]%></td>
                    <%tuesday_total << week_hour_con[1]%>
                    <td><%=week_hour_con[2]%></td>
                    <%wednesday_total << week_hour_con[2]%>
                    <td><%=week_hour_con[3]%></td>
                    <%thursday_total << week_hour_con[3]%>
                    <td><%=week_hour_con[4]%></td>
                    <%friday_total << week_hour_con[4]%>
                    <td><%=week_hour_con[5]%></td>
                    <%saturday_total << week_hour_con[5]%>
                    <td><%=week_hour_con[6]%></td>
                    <%sunday_total << week_hour_con[6]%>
                    <td>
                        <%num = 0%>
                        <%for value in week_hour_con do%>
                            <%num += value%>
                        <%end%>
                        <%=num%>
                    </td>
                    <%total_total << num%>
                    </tr>
                <%end%>
                <%bill_count += 1%>
            <%end%>
        <%else%>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <%end%>
            <tr>
                <td><strong>TOTALS</strong></td>
                <td></td>
                <td><%=monday_total.sum%></td>
                <td><%=tuesday_total.sum%></td>
                <td><%=wednesday_total.sum%></td>
                <td><%=thursday_total.sum%></td>
                <td><%=friday_total.sum%></td>
                <td><%=saturday_total.sum%></td>
                <td><%=sunday_total.sum%></td>
                <td><%=total_total.sum%></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Total Services</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ <%=total_total.sum * wage.to_i%></td>
            </tr>
            <tr>
                <td></td>
                <%expenses_total = []%>
                <%expenses_total << total_total.sum * wage.to_i%>
                <td><strong>Expenses(General)</strong></td>
                <%expenses[0].each do |num|%>
                    <td>$<%=num%></td>
                <%end%>
                <%count =0%>
                <%for num in expenses[0] do%>
                        <%count += num.to_i%>
                <%end%>
                <%expenses_total << count%>
                <td><%=count%></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Expenses(Milage)</strong></td>
                <%expenses[1].each do |num|%>
                    <td>$<%=num%></td>
                <%end%>
                <%count =0%>
                <%for num in expenses[1] do%>
                        <%count += num.to_i%>
                <%end%>
                <%expenses_total << count%>
                <td><%=count%></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Milage Description</strong></td>
                <%expenses[2].each do |num|%>
                    <td><%=num%></td>
                <%end%>
                
            </tr>
            <tr>
                <td></td>
                <td><strong>Expenses(Tolls)</strong></td>
                <%expenses[3].each do |num|%>
                    <td>$<%=num%></td>
                <%end%>
                    <%count =0%>
                <%for num in expenses[3] do%>
                        <%count += num.to_i%>
                <%end%>
                <%expenses_total << count%>
                <td><%=count%></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Other</strong></td>
                        <%expenses[4].each do |num|%>
                    <td>$<%=num%></td>
                <%end%>
                <%count =0%>
                <%for num in expenses[4] do%>
                        <%count += num.to_i%>
                <%end%>
                <%expenses_total << count%>
                <td><%=count%></td>
            </tr>
    </table><br>
    <h3>Total Due: $ <%=expenses_total.sum%></h3><br>

<%end%>
<input type = "hidden" name = "comments" value = '<%=comments%>'>
<input type = "hidden" name = "clients" value = '<%=clients%>'>
<input type = 'submit'>
</form>